.notesContainer {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)) !important;
  grid-gap: 30px !important;
  margin: 0 auto;
}

main {
  transition: all 0.2s;
}

.createNoteButton {
  transition: all 0.2s;
  margin-bottom: 2rem;

  &:hover {
    & i {
      margin-left: 8px;
      transform: rotate(90deg);
    }
  }

  & i {
    margin-left: 5px;
    transition: all 0.2s;
  }
}

.box:last-child {
  margin-bottom: 1.5rem;
}

.FilterAndSearch {
  display: flex;
  margin: -.75rem 0 2.5rem 0;

  & .searchContainer {
    flex: 1;
    padding-left: 1.5rem;
  }
}
