.note- {
  &edit {
    transition: all 0.2s;

    &:hover {
      color: #209cee;
    }
  }

  &garbage {
    transition: all 0.2s;

    &:hover {
      color: lightcoral;
    }
  }

  &edit,
  &garbage {
    font-size: 1.25rem;
    padding: 0 5px;

    &:hover {
      cursor: pointer;
    }
  }
}

.quickActionButtons {
  margin-top: auto !important;
  padding-top: 15px;
}

.NoteViewMore {
  color: #0099ff;
  border-bottom: 1px solid #0099ff;
  padding-left: 3px;

  &:hover {
    cursor: pointer;
  }
}

.box {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.2s !important;

  &:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }
}
