.MainWrapper {
  display: flex;
  justify-self: space-evenly;
  align-items: center;

  padding: 4rem 2rem;
}

.content {
  flex: 1;
}

.ImageContent {
  flex: 1.4;
  display: flex;

  & img {
    max-width: 80%;
    margin: 0 auto;
  }
}

.ScriptFont {
  font-family: 'Satisfy', cursive;
}

.groupedButtons {
  & a:nth-of-type(1) {
    margin-right: 1rem !important;
  }
}

@media only screen and (max-width: 1000px) {
  .ImageContent {
    flex: 1;
  }
}

@media only screen and (max-width: 700px) {
  .MainWrapper {
    flex-direction: column;
  }

  .ImageContent {
    flex: 0.75;
  }
}
