.note- {
  &edit {
    transition: all 0.2s;

    &:hover {
      color: #209cee;
      animation: heartBeat 1.5s infinite;
    }
  }

  &garbage {
    transition: all 0.2s;

    &:hover {
      color: lightcoral;
      transform-origin: top center;
      animation: swing 1s infinite;
    }
  }

  &edit,
  &garbage {
    font-size: 1.25rem;
    padding: 0 5px;

    &:hover {
      cursor: pointer;
    }
  }
}

.quickActionButtons {
  margin-top: auto !important;
  padding-top: 15px;
}

.NoteViewMore {
  color: #0099ff;
  border-bottom: 1px solid #0099ff;
  padding-left: 3px;

  &:hover {
    cursor: pointer;
  }
}

.box {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 15px 0 rgba(0, 0, 0, 0.12) !important;
  transition: all 0.2s !important;

  &:hover {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19) !important;
  }
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.1);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.1);
  }

  70% {
    transform: scale(1);
  }
}
