.listItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  color: #209cee;
  font-size: 3.5rem !important;
}

.GridListImage {
  height: 9rem;
}