.MainWrapper {
    display: flex;
    justify-self: space-evenly;
    align-items: center;
}

.content {
    flex: 3;
}

.ImageContent {
    flex: 2;
    display: flex;

    & img {
        max-width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 700px) {
    .MainWrapper {
      flex-direction: column-reverse;
      padding: 2rem .5rem;
    }
  
    .ScriptFont {
      font-size: 2.75rem !important;
    }
  
    .ImageContent {
      flex: 0.75;
      & img {
        max-width: 95%;
      }
    }
  }