.hero {
    background-image: url('../images/KeepMyNotesIndexBackground.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 10px;
    background-position: right top;
}

.ScriptFont {
    font-family: 'Satisfy', cursive;
}