.formContainer {
    max-width: 40rem;
    margin: 2rem auto 0 auto;
}

.LoginBackground {
    background-image: url("../images/KeepMyNotesBackground.png");
    background-size: cover;
    background-position: top right;
    min-height: calc(100vh - 6rem);
}